/* .container {
  border: 1px solid red;
} */

.header__content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.header__text {
  font-size: var(--size-base);
}

#header__img {
  width: 50px;
  height: 50px;
}

/* xs */
/* @media (min-width: 475px) {} */

/* Sm */
/*@media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {}  */

/* Lg */
/* @media (min-width: 1024px) {} */

/* xL */
/* @media (min-width: 1280px) {}  */

/* 2xL */
/* @media (min-width: 1536px) {} */
